@import './emergencyRoom.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light only !important;
}

* {
  color-scheme: only light;
}

html, body {
  color-scheme: light;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Background styling */
body {
  background-image: url('./assets/hospital.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  background-color: white;
  color: black;
  forced-color-adjust: none;
}